@import "tailwindcss";

@theme {
  --color-diary-bg: #f8fafc; 
  --color-diary-text: #1e293b;
  --color-diary-text-secondary: #64748b;
}

@layer base {
  body { 
    font-family: "IBM Plex Sans Thai", sans-serif;
  }
}