<div class="px-3 mt-28">
  <div class="container mx-auto bg-[#0075f7] rounded-2xl">
    <div class="flex flex-col px-3 items-center max-h-[688px] overflow-hidden">
      <div class="mt-16 mb-10">
        <h1 class="text-white text-4xl text-center font-semibold">เริ่มต้นบันทึกเรื่องราวของคุณ</h1>
        <h2 class="text-white text-2xl text-center font-normal mt-2 mb-4">แชร์ความรู้สึกง่ายๆ ในแบบของคุณไปกับ</h2>
        <h1 class="text-white text-6xl text-center font-bold">MineeDiary</h1>
      </div>

      <a href="/diary" class="bg-white text-blue-500 hover:bg-blue-50 mb-6 cursor-pointer transition-all duration-300 font-semibold px-8 py-3 rounded-lg shadow-lg hover:shadow-xl transform hover:-translate-y-2">
        เริ่มสร้าง Diary เลย!
      </a>
      <div>
        <img src="img/note-sample.png" alt="note-sample" class="rounded-2xl w-[512px] abso lute">
      </div>
    </div>
  </div>
</div>