<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/head") %>
</head>
<body class="">
  <div class="fixed top-0 left-0 -z-50 w-full h-screen bg-cover bg-center" style="background-image: url('/img/hero-default.webp');"></div>

  <%- include("../partials/nav") %>
  <%- body %>
  
</body>
</html>